<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <label class="h4 bg-light">商品一覧</label>
    </div>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active %>
            <p class="text-success"><strong>販売中</strong></p>
          <% elsif %>
            <p class="text-muted"><strong>販売停止</strong></p>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
  </div>
</div>