<div class="container">
  <div class="row">
    <div class="col">
    
    <div class="text-center">
    <h1>About</h1>
    <p>
    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文頂けます。</br>
    ぜひご注文ください。</br>
    </p>
    
    <%= image_tag '28319280_m.jpg', :size =>'650x550' %>
    </div>

    </div>
  </div>
</div>