<div class="container">
  <div class="row">
    <div class="col">

    <p>下の店舗あいさつの背景画像を表示するリンクが必要</p>
    <div>
      ようこそ、ながのCAKEへ!</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員で無い方も商品んも閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
    </div>

    <h3>新着商品</h3>
    <p>新着商品画像のリンクが必要</p>
    <div>商品名</div>

    <div>￥</div>

    <%= link_to "全ての商品を見る", items_path %>
    </div>
  </div>
</div>
