<div class="container">
  <div class="row">
    <h1>会員一覧</h1>
    <div class="col">

      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
        <% @customers.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td><%= link_to f.name, admin_item_path(item.id) %></td>
            <td><%= f.email %></td>
            <td>
              <% if item.is_active %>
                <p class="text-success"><strong>有効</strong></p>
              <% elsif %>
                <p class="text-muted"><strong>退会</strong></p>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </div>
    </div>
  </div>
</table>

