<div class="container">
  <div class="row">
    <h1>会員一覧</h1>
    <div class="col">

      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
        <% @customers.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td><%= link_to f.full_name, admin_customer_path(f) %></td>
            <td><%= f.email %></td>
            <td><%= f.customer_status %></td>
          </tr>
        <% end %>
        </tbody>
      </div>
    </div>
  </div>
</table>

